* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

img {
    width: 100%;
}

.navbar {
    background: #1D2939;
    position: fixed;
    top: 300px;
    top: 0;
    bottom: 0;
    width: 250px;
}

.navbar ul {
    padding: 20px;
}

.navbar ul li {
    margin: 5px 0;
    border-radius: 5px;
    overflow: hidden;
    padding-left: 20px;
    background: linear-gradient(to right, #1CAF9A, #1CAF9A) no-repeat;
    background-size: 0 100%;
    transition: background-size 0.5s ease;
}

.navbar ul li:hover {
    background-size: 100% 100%;
}

.navbar ul li a {
    color: #8F939E;
    display: block;
    transition: 0.2s;
    line-height: 50px;
}

.navbar ul li a i {
    margin-right: 10px;
}

.navbar ul li:hover a {
    color: #fff;
}

.content {
    margin-left: 250px;
    background: #E4E7EA;
    min-height: 100vh;
}

.content .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    clip-path: inset(0px -10px -10px -10px);
}

.header .logo {
    width: 150px;
}

.main-content {
    margin-top: 50px;
}

.main-content-title {
    text-align: center;
    margin-bottom: 50px;
    color: rgb(254, 32, 32);
}

.submit-btn {
    background: green;
}

.reset-btn {
    background: darkgray;
}

.list-btn {
    background: orange;
}

.delete-btn {
    background: red;
}

.edit-btn {
    background: blue;
}

.navbar .active {
    background-size: 100% 100%;
}

.navbar .active a {
    color: #fff;
}

.added-successfully {
    font-size: 18px;
    color: red;
    text-align: center;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.pagination-ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 10px;
}

.pagination-ul li {
    display: inline-block;
}

.previos-pagination,
.number-pagination,
.next-pagination {
    display: block;
    padding: 8px 13px;
    border: 1px solid #ccc;
    border-radius: 50%;
    color: #777;
    font-weight: medium;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    background-color: #fff;
}

.previos-pagination:hover,
.number-pagination:hover,
.next-pagination:hover {
    background-color: #f7fafc;
}

.previos-pagination:active,
.next-pagination:active,
.number-pagination:active {
    background-color: #1e40af;
    color: #fff;
}

.previos-pagination:focus,
.number-pagination:focus,
.next-pagination:focus {
    outline: none;
}

.cart-detail-wrapper {
    margin-left: 250px;
}

.cart-detail-title {
    text-align: center;
    margin-top: 60px;
}

.cart-detail-container {
    margin: 70px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.cart-detail {
    padding: 10px;
    width: 100%;
}

.cart-detail img {
    width: 150px;
}

.cart-detail .product-info {
    text-align: left;
}

.cart-detail .product-name {
    margin-bottom: 20px;
}

.cart-detail thead th {
    border-bottom: 1px solid #ccc;
    padding: 24px 0;
    font-size: 14px;
}

.cart-detail tbody td {
    padding: 20px 10px;
    vertical-align: top;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

.cart-detail .total-price {
    font-size: 22px;
    font-weight: 600;
}

.cart-detail .cart-detai-total {
    font-size: 26px;
    font-weight: 600;
}

.cart-detail .cart-detail-shiping-fee,
.cart-detail .cart-detai-total .all-total-cart {
    color: red;
}

.table-category-wapper .table-title {
    text-align: center;
    margin-bottom: 20px;
}

.text-highlight {
    font-size: 22px;
    font-weight: 600;
    color: red;
    margin-left: 80px;
}

.disabled-select {
    pointer-events: none;
    background-color: #f5f5f5;
}